/* Последнее задание */

.mat{
    text-align: center;
    color:blue; 
    font-family: Monotype Corsiva;
    text-decoration: line-through;
    font-weight: bold;
}


.table{
    width: 100%;
    border:1px solid black;
    margin-bottom: 20px;
}

.table  td{
    width: 20%;
    border:2px solid black;
}